<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="xDukaBoletos" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="xDukaBoletos" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="xDukaBoletos" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="xDukaBoletos" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Boletos</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="lib/semantic/dist/semantic.css">
  <link rel="stylesheet" href="lib/semantic/dist/components/table.min.css">
  <link rel="stylesheet" href="lib/semantic/dist/components/accordion.min.css">
  <link rel="stylesheet" href="lib/ngprogress/ngProgress.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!--&lt;!&ndash;[if lt IE 7]>-->
<!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
<!--<![endif]&ndash;&gt;-->

<div id="g1" ng-controller="BoletosController" ng-cloak>
  <div class="ui one item menu">
    <a class="active item">
      <i class="home icon"></i> Boletos por CPF
    </a>
  </div>
  <div ng-show="dados.alunos.length==0" class="ui segment page grid">
    <div class="eight centered column">
      <div ng-show="!valid && processado" class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
          Opa, não deu certo
        </div>
        <p>Digite o cpf embaixo, porque não consegui identificar da última vez.
        </p>
        <p ng-show="errMessage">Detalhe do erro : {{errMessage}}
        </p>
      </div>
      <div ng-show="valid && processado" class="ui warning message">
        <i class="close icon"></i>
        <div class="header">
          Aviso
        </div>
        <p>Não existe nenhuma pendencia com o cpf Digitado.
        </p>
      </div>
      <form class="ui form segment">
        <h4 class="ui dividing header  center aligned">Informe seu CPF</h4>
        <div class="field  center aligned">
          <input ng-keyup="$event.keyCode == 13 && click(cpf)" type="text" ng-model="cpf" placeholder="Digite seu CPF" ui-br-cpf-mask>
        </div>

        <div class="sixteen centered column" ng-click="click(cpf)">
          <div class="ui submit button primary">Entrar</div>
        </div>
      </form>
    </div>
  </div>
  <div class="ui segment" ng-repeat="aluno in dados.alunos track by $index">
    <h1 class="ui header"><i class="student icon"></i> {{aluno.nomeAluno}}</h1>
    <hr/>
    <div accordion class="ui styled fluid accordion" ng-repeat="contrato in aluno.mensalidades track by $index">
        <div class="title" ng-class='{active:$first}'>
          <p><i class="dropdown icon"></i>{{contrato.nomeCurso}}</p>
          <div class="ui three column grid">
            <div class="column">
              <div class="ui horizontal segment center aligned">
                {{contrato.nomeUnidade}}
              </div>
            </div>
            <div class="column">
              <div class="ui horizontal segment center aligned">
                {{contrato.tipoCobranca}}
              </div>
            </div>
            <div class="column">
              <div class="ui horizontal segment center aligned">
                <div ng-show="contrato.pendencias>0 && cpf !== ''" class="ui red label">{{contrato.pendencias}} Pendencia(s)</div>
                <div ng-show="contrato.pendencias==0" class="ui green label">Em dia</div>
              </div>
            </div>
          </div>
        </div>
        <div class="content" ng-class='{active:$first}'>
          <table class="ui celled striped table">
              <thead>
                <tr>
                  <th colspan="3">
                    Mensalidades
                  </th>
                </tr>
                <tr>
                  <th class="center aligned">
                    Vencimento
                  </th>
                  <th class="center aligned">
                    Valor a Pagar
                  </th>
                  <th class="center aligned">
                    Situação
                  </th>
                </tr>
              </thead>
            <tbody>
            <tr ng-repeat="cobranca in contrato.cobrancas track by $index">
              <td class="center aligned">
                {{convert(cobranca.dataVencimento)}}
              </td>
              <td class="right aligned">
                {{formatMoney(cobranca.ValorPagar)}}
              </td>
              <td class="center aligned">
                <p>
                  <b>{{cobranca.status}}</b>
                </p>
                <a ng-show="cobranca.liberado && !cobranca.ajuizado" target="_blank" ng-href="{{cobranca.xDevExternalUrl}}">
                  <div class="ui green button">
                    <i class="unhide icon"></i>Visualizar
                  </div>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/lodash/dist/lodash.min.js"></script>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/semantic/dist/semantic.min.js"></script>
<script src="lib/semantic/dist/components/accordion.min.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>
<script src="lib/angular-route/angular-route.min.js"></script>
<script src="lib/angular-semantic-ui/dist/angular-semantic-ui.js"></script>
<script src="lib/angular-input-masks/angular-input-masks.br.min.js"></script>
<script src="lib/ngprogress/build/ngProgress.min.js"></script>
<script src="javascripts/app/directives/accordion.js"></script>
<script src="/javascripts/app/services/services.js"></script>
<script src="/lib/angular-ui-select2/src/select2.js"></script>
<script src="javascripts/app/app.js"></script>
<script src="javascripts/app/controllers/BoletosController.js"></script>
</body>
</html>
